<hr class="bg-gray-100 my-4" />
<%= link_to user_path(comment.author) do %>
  <div class="flex gap-2 mb-2">
    <%= image_tag comment.author.profile_pic_url, class: "w-6 h-6 rounded-full" %>
    <span class="font-medium text-sm"
    ><%= comment.author.first_name %> <%= comment.author.last_name %></span
  >
  </div>
<% end %>
<p class="font-light"><%= comment.body %></p>
