<div class="bg-sky-50 min-h-screen">
  <%= render partial: "/shared/basic_navbar" %>
  <div class="flex gap-2 flex-col items-center gap-2 mt-16">
    <div class="flex gap-4 w-full bg-white p-4 rounded-lg shadow-xl max-w-md">
      <div>
        <%= image_tag @user.avatar.variant(resize_to_fill: [112, 112]), class: "rounded-full" %>
      </div>
      <div class="self-center flex-1">
        <p class="text-2xl font-medium"
    ><%= @user.first_name %> <%= @user.last_name %></p
  >
        <p><%= @user.email %></p>
        <p><%= @user.gender.titleize %></p>
      </div>
    </div>
    <div class="flex justify-evenly w-full bg-white p-4 rounded-lg shadow-xl max-w-md">
      <div>
        <%= link_to friend_path(@user) do %>
          <span class="font-semibold"><%= @user.friends.count %> <span class="font-normal"><%= @user.friends.count == 1 ? 'Friend' : 'Friends' %></span></span>
        <% end %>
      </div>
      <div class="w-0.5 bg-black"></div>
      <div>
        <span class="font-semibold"><%= @user.posts.count%> <span class="font-normal"><%= @user.posts.count == 1 ? 'Post' : 'Posts' %></span></span>
      </div>
    </div>
    <% if current_user != @user %>
      <% isRequestedFromThem = FriendRequest.where(sent_user: @user, received_user: current_user) %>
      <% isRequestedFromMe = FriendRequest.where(sent_user: current_user, received_user: @user) %>
      <% noRequest = FriendRequest.where(sent_user: current_user, received_user: @user) %>
      <% if isRequestedFromThem.exists? %>
        <div class="flex gap-2">
          <%= form_with url: friend_request_path(isRequestedFromThem.first.id), method: :patch do |f| %>
            <%= f.hidden_field :friend_id, value: @user.id %>
            <%= f.submit "Accept Request", class: "bg-green-500 h-10 px-2 rounded-md
  cursor-pointer text-white hover:bg-green-800" %>
          <% end %>
          <%= form_with url: friend_request_path(isRequestedFromThem.first.id), method: :delete do |f| %>
            <%= f.hidden_field :friend_id, value: @user.id %>
            <%= f.submit "Decline Request", class: "bg-red-500 h-10 px-2 rounded-md
  cursor-pointer text-white hover:bg-red-800" %>
          <% end %>
        </div>
      <% elsif isRequestedFromMe.exists? %>
        <%= form_with url: friend_request_path(isRequestedFromMe.first.id), method: :delete do |f| %>
          <%= f.hidden_field :friend_id, value: @user.id %>
          <%= f.submit "Cancel Request", class: "bg-red-500 h-10 px-2 rounded-md
  cursor-pointer text-white hover:bg-red-800" %>
        <% end %>
      <% elsif !@user.friends.include?(current_user) && !noRequest.exists? %>
        <%= form_with url: friend_requests_path do |f| %>
          <%= f.hidden_field :friend_id, value: @user.id %>
          <%= f.submit "Send friend request", class: "bg-blue-500 h-10 px-2 rounded-md
  cursor-pointer text-white hover:bg-blue-800" %>
        <% end %>
      <% elsif @user.friends.include?(current_user) %>
        <%= form_with url: friend_path(current_user), method: :delete do |f| %>
          <%= f.hidden_field :friend_id, value: @user.id %>
          <%= f.submit "Unfriend", class: "bg-red-500 h-10 px-2 rounded-md
  cursor-pointer text-white hover:bg-red-800"  %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div>
    <div
      class="grid grid-cols-1 justify-items-center w-full py-16 max-w-6xl mx-auto"
    >
      <!-- Form -->
      <% if current_user == @user %>
        <%= render "posts/form", post: @post %>
      <% end %>
      <!-- Posts -->
      <%= render @posts %>
    </div>
  </div>
</div>
