<div class="bg-sky-50 min-h-screen">
  <%= render partial: "/shared/basic_navbar" %>
  <div class="flex flex-col items-center gap-2 mt-16">
    <%= image_tag @user.profile_pic_url, class: "w-36 h-36 rounded-full" %>
    <span class="text-3xl"
    ><%= @user.first_name %> <%= @user.last_name %></span
  >
    <span><%= @user.email %></span>
    <span><%= @user.gender.titleize %></span>
    <span><%= link_to "#{@user.friends.count} #{@user.friends.count == 1 ? 'Friend' : 'Friends'}", friend_path(@user) %> <span>
      </div>
      <div>
        <div
      class="grid grid-cols-1 justify-items-center w-full py-16 max-w-6xl mx-auto"
    >
          <!-- Form -->
          <% if current_user == @user %>
            <%= render "posts/form", post: @post %>
          <% end %>
          <!-- Posts -->
          <%= render @posts %>
        </div>
      </div>
    </div>
