<div
class="w-full sm:w-10/12 lg:w-8/12 bg-white p-4 rounded-lg shadow-xl mb-4"
>
  <div class="flex items-center justify-between mb-2">
    <%= link_to user_path(friend_request.sent_user) do %>
      <div class="flex items-center gap-4">
        <%= image_tag friend_request.sent_user.profile_pic_url, class: "w-14 h-14 rounded-full" %>
        <span class="font-medium text-xl"
    ><%= friend_request.sent_user.first_name %> <%= friend_request.sent_user.last_name %></span
  >
      </div>
    <% end %>
    <div>
      <%= form_with url: friend_request_path(friend_request), method: :patch do |f| %>
        <%= f.hidden_field :friend_id, value: friend_request.sent_user.id %>
        <%= f.submit "Accept request" %>
      <% end %>
    </div>
  </div>
</div>
